body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

svg {
  pointer-events: none;
}